Service References/ErrorLog/LogErrorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ci.richmond.va.us/CORServices/CORApplicationLogging/ErrorLog/2008/11/Contracts" elementFormDefault="qualified" targetNamespace="http://www.ci.richmond.va.us/CORServices/CORApplicationLogging/ErrorLog/2008/11/Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://starapp.richva.ci.richmond.va.us/SERVICES/CORAPPLICATIONLOGGING/LogErrorService.svc?xsd=xsd0" namespace="http://www.ci.richmond.va.us/CORServices/CORApplicationLogging/ErrorLog/2008/10/Contracts" />
  <xs:element name="LogErrorWithReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.ci.richmond.va.us/CORServices/CORApplicationLogging/ErrorLog/2008/10/Contracts" minOccurs="0" name="errorLog" nillable="true" type="q1:ErrorLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogErrorWithReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogErrorWithReturnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogSimpleErrorWithReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hostServer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogSimpleErrorWithReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogSimpleErrorWithReturnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>